wrapper {
    margin: 0 auto;
    padding: 8000px;
    width: 850px;
}

.door1 {
  border-color: transparent;
    width: 600px;
    height: 574px;
    background-color: white;
    float: left;
    position: inherit;
    margin: 600px;
    bottom: auto;
    left: 9000px;}

.door2 {
  border-color: transparent;
    width: 526px;
    height: 386px;
    background-color: white;
    float: left;
    position: inherit;
    top: 20px
    margin: 600px;
  }

  div {
width: 80px;
height: 100px;
background: red;
position: relative;
-webkit-animation: mymove 300s infinite; /* Safari 4.0 - 8.0 */
animation: mymove 80s infinite;
border-radius: 50%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {right: 0px; width: 100px;}
    100% {right: 20px; width: 300px;}
    100% {right: 80px; width: 500px;}
    100% {right: 90px; width: 600px;}
    100% {right: 600px; width: 700px;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {right: 0px; width: 100px;}
    100% {right: 20px; width: 300px;}
    100% {right: 80px; width: 500px;}
    100% {right: 90px; width: 600px;}
    100% {right: 600px; width: 800px;}


}
