body{
		background-color: black;
}

.container{
	width:970px; 
      height:1000px;
     margin:3px auto;
}

.item1{
	width: 970px;
      height: 90px;
      background: red;
      margin-left: 20px;
      margin-right: 20px;
      margin:20px;
}

.item2{
	width: 970px;
      height: 90px;
      background: red;
      margin-left: 20px;
      margin-right: 20px;
       margin:20px;
}

.item3{width: 970px;
      height: 90px;
      background: red;
      margin-left: 20px;
      margin-right: 20px;
       margin:20px;
	
}

.item4{
	width: 970px;
      height: 90px;
      background: red;
      margin-left: 20px;
      margin-right: 20px;
       margin:20px;

}

.item5{
	width: 970px;
      height: 90px;
      background: red;
      margin-left: 20px;
      margin-right: 20px;
       margin:20px;
}

.item6{
	height:10px;
		width :400px;
		float:left;
		padding:40px;
		margin-left: 20px;
		
		background-color: red;
}
.item7{
	height:10px;
		width :400px;
		float:right;
		background-color: red;
    padding:40px;
    margin-right: 260px;
}

